.container{
    background-color:aquamarine;
    display: inline;
}

button{
    display:block;
}

.container1{
    width: 70px;
    height: 70px;
    color: white;
    background-color:cornflowerblue;
    margin:25px;
    padding: 25px;
    display: inline block;
    text-align:center;

}

/* button{
    display:none;
} */

/* button{
    visibility: hidden;
} */